<div class='container'>
  <div class='footer-password'>
    <span class='footer-password__store-note small-text'>
      {% if section.settings.text != blank %}{{ section.settings.text | escape }}. {% endif -%}
      {{- 'sections.password.footer' | t }}
      {% render 'icon' with 'shopify-logo' %}
    </span>

    <span class='small-text'>
      {{ 'sections.password.store_owner' | t }}
      <a href='/admin' class='footer-password__login-button button button--plain button--x-small'>
        {{ 'sections.password.log_in_here' | t }}
      </a>
    </span>
  </div>
</div>

<script>
  (() => {
    const footerHeight = document.getElementById('shopify-section-footer-password').clientHeight;
    document.documentElement.style.setProperty('--footer-password-height', `${footerHeight}px`);
  })();
</script>

{% schema %}
{
  "name": "Footer",
  "class": "shopify-section--footer-password",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Additional text"
    }
  ]
}
{% endschema %}
