<div class="parent-test-container">

  <div class="info-title">
    <p>WE'VE HAD THE PRIVELEGE TO SOURCE</p>
    <p>AND SELL SOME EXCEPTIONAL PIECES,</p>
    <p>FIND A FEW OF OUR FAVOURITES BELOW.</p>
  </div>
  <div class="container-test">
    <div data-aos="fade-right" class="left-side">
      <div class="sub-container-left">
        <div class="circle-left">
          <div class="year">
            <p>1971</p>
          </div>
        </div>
        <div class="info-bit-left">
          <p>HEUER MONACO 'STEVE MCQUEEN'</p>
          <img src="https://0a8w8xn0fo5grfao-69066490162.shopifypreview.com/cdn/shop/files/HEUER_MONACO_1.jpg?v=1692621111&width=800" alt="watch vintage">
        </div>
      </div>
    </div>
    <div data-aos="fade-down" class="line"></div>
  </div>

  <div class="container-test">
    <div data-aos="fade-down" class="line"></div>
    <div data-aos="fade-left" class="right-side">
      <div class="sub-container-right">
        <div class="circle-right">
          <div class="year">
            <p>2008</p>
          </div>
        </div>
        <div class="info-bit-right">
          <p>OMEGA SPEEDMASTER PROFESSIONAL 'ALASKA PROJECT'</p>
          <img src="https://0a8w8xn0fo5grfao-69066490162.shopifypreview.com/cdn/shop/files/OMEGA_ALASKA_PROJECT_2.jpg?v=1692621756&width=800" alt="watch vintage">
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Vertical timeline",
    "templates": [
      "index", "page", "product"
    ],
    "presets": [
      {
        "name": "Vertical timeline",
        "category": "Vertical timeline testing"
      }
    ]
  }
{% endschema %}