<div class="container-test-right">
  <div data-aos="fade-right">
    <div class="title-year-left">
      <p>{{ section.settings.year }}</p>
      <p>{{ section.settings.title }}</p>
    </div>
  </div>
  <div data-aos="fade-down" class="line"></div>
  <div data-aos="fade-left" class="right-side">
    <img src="{{section.settings.image | img_url : 'medium'}}" alt="watch vintage">
  </div>
</div>
{% schema %}
  {
    "name": "Timeline right",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "year",
        "label": "Year"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Test image"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Test collection"
      }, {
        "type": "textarea",
        "id": "text-area",
        "label": "Text area"
      }
    ],
    "templates": [
      "index", "page", "product"
    ],
    "presets": [
      {
        "name": "Timeline right",
        "category": "Timeline right section"
      }
    ]
  }
{% endschema %}