<div>
  <p>TEST</p>
  <div class="container-test">
    <div data-aos="fade-right" class="left-side">
      <div class="sub-container-left">
        <div class="circle">
          <p>1982</p>
        </div>
        <div class="info-bit-left">
          <p>CARTIER SANTOS GALBÉE 'GHOST DIAL'</p>
          <img src="https://0a8w8xn0fo5grfao-69066490162.shopifypreview.com/cdn/shop/files/CARTIER_GHOST_1.jpg?v=1692621711&width=800" alt="watch vintage">
        </div>
      </div>
    </div>
    <div data-aos="fade-down" class="line"></div>
  </div>
  <div class="container-test">
    <div data-aos="fade-down" class="line"></div>
    <div data-aos="fade-left" class="right-side">
      <div class="sub-container-right">
        <div class="circle">
          <p>1962</p>
        </div>
        <div class="info-bit-right">
          <p>HEUER CARRERA 12 DATO 'FIRST EXECUTION'</p>
          <img src="https://0a8w8xn0fo5grfao-69066490162.shopifypreview.com/cdn/shop/files/HEUER_DATO_2.jpg?v=1692619408&width=800" alt="watch vintage">
        </div>
      </div>
    </div>
  </div>

  <div class="container-test">
    <div data-aos="fade-right" class="left-side">
      <div class="sub-container-left">
        <div class="circle">
          <p>1971</p>
        </div>
        <div class="info-bit-left">
          <p>HEUER MONACO 'STEVE MCQUEEN'</p>
          <img src="https://0a8w8xn0fo5grfao-69066490162.shopifypreview.com/cdn/shop/files/HEUER_MONACO_1.jpg?v=1692621111&width=800" alt="watch vintage">
        </div>
      </div>
    </div>
    <div data-aos="fade-down" class="line"></div>
  </div>
  <div class="container-test">
    <div data-aos="fade-down" class="line"></div>
    <div data-aos="fade-left" class="right-side">
      <div class="sub-container-right">
        <div class="circle">
          <p>2008</p>
        </div>
        <div class="info-bit-right">
          <p>OMEGA SPEEDMASTER PROFESSIONAL 'ALASKA PROJECT'</p>
          <img src="https://0a8w8xn0fo5grfao-69066490162.shopifypreview.com/cdn/shop/files/OMEGA_ALASKA_PROJECT_2.jpg?v=1692621756&width=800" alt="watch vintage">
        </div>
      </div>
    </div>
  </div>
  <div class="container-test">
    <div data-aos="fade-right" class="left-side">
      <div class="sub-container-left">
        <div class="circle">
          <p>1947</p>
        </div>
        <div class="info-bit-left">
          <p>COSMOGRAPH 4500</p>
          <img src="https://0a8w8xn0fo5grfao-69066490162.shopifypreview.com/cdn/shop/files/ROLEX_4500_2.jpg?v=1692621804&width=800" alt="watch vintage">
        </div>
      </div>
    </div>
    <div data-aos="fade-down" class="line"></div>
  </div>
  <div class="container-test">
    <div data-aos="fade-down" class="line"></div>
    <div data-aos="fade-left" class="right-side">
      <div class="sub-container-right">
        <div class="circle">
          <p>1979</p>
        </div>
        <div class="info-bit-right">
          <p>ROLEX DAY-DATE 18K GOLD 'ONYX DIAL'</p>
          <img src="https://0a8w8xn0fo5grfao-69066490162.shopifypreview.com/cdn/shop/files/ROLEX_ONYX_DIAL_2.jpg?v=1692620813&width=800" alt="watch vintage">
        </div>
      </div>
    </div>
  </div>
  <div class="container-test">
    <div data-aos="fade-right" class="left-side">
      <div class="sub-container-left">
        <div class="circle">
          <p>1968</p>
        </div>
        <div class="info-bit-left">
          <p>ROLEX DAY-DATE 18K WHITE GOLD 'TURQUOISE BLUE STELLA DIAL'</p>
          <img src="https://0a8w8xn0fo5grfao-69066490162.shopifypreview.com/cdn/shop/files/ROLEX_STELLA_DIAL_1.jpg?v=1692620868&width=800" alt="watch vintage">
        </div>
      </div>
    </div>
    <div data-aos="fade-down" class="line"></div>
  </div>
  <div class="container-test">
    <div data-aos="fade-down" class="line"></div>
    <div data-aos="fade-left" class="right-side">
      <div class="sub-container-right">
        <div class="circle">
          <p>1977</p>
        </div>
        <div class="info-bit-right">
          <p>TUDOR SUBMARINER DATE 'SNOWFLAKE'</p>
          <img src="https://0a8w8xn0fo5grfao-69066490162.shopifypreview.com/cdn/shop/files/TUDOR_SNOWFLAKE_1.jpg?v=1692621134&width=800" alt="watch vintage">
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Vertical timeline",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Test image"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Test collection"
      }, {
        "type": "textarea",
        "id": "text-area",
        "label": "Text area"
      }
    ],
    "templates": [
      "index", "page", "product"
    ],
    "presets": [
      {
        "name": "Vertical timeline",
        "category": "Vertical timeline testing"
      }
    ]
  }
{% endschema %}